@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 20px;
  line-height: 1.5;
}

@theme {
  /* __________custom color palette ___________ */
  --color-blue-500: #191E39;
  --color-blue-300: #6678E2;
  --color-blue-100: #ECEFFB;


  /* __________ typography __________ */
  --text-h1: 5.61rem;
  --text-h1--line-height: 6rem;

  --text-h2: 4.209rem;
  --text-h2--line-height: 4.5rem;

  --text-h3: 3.157rem;
  --text-h3--line-height: 4.5rem;

  --text-h4: 2.369rem;
  --text-h4--line-height: 3rem;

  --text-h5: 1.777rem;
  --text-h5--line-height: 3rem;

  --text-h6: 1.333rem;
  --text-h6--line-height: 1.5rem;

  --text-button: 1.333rem;
  --text-button--line-height: 3rem;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;

  --text-small: 0.75rem;
  --text-small--line-height: 1.5rem;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --spacing-1: 1.5rem;
  --spacing-2: 3rem;
  --spacing-3: 4.5rem;
  --spacing-4: 6rem;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* __________ Header Styles __________ */
header a {
  @apply inline-block font-bold;
}



/* __________ Header Styles __________ */
.mobile-menu-navigation {
  @apply absolute w-full bg-blue-100;
  @apply top-full left-0;

}

.mobile-menu-navigation {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.mobile-menu-navigation.open {
  max-height: 500px;

}


.mobile-menu-navigation > .menu-links li {
  @apply px-1
}



.desktop-menu-navigation {
  @apply md:flex md:justify-between md:items-center md:gap-1;
}

svg .line1,
svg .line2,
svg .line3 {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

svg.open .line1 {
  transform: translateY(0px) translateX(7px) rotate(45deg);


}

svg.open .line2 {
  opacity: 0;
}

svg.open .line3 {
  transform: translateY(9px) translateX(-10px) rotate(-45deg);

}